@model ApiCreacionDocs.Models.InformacionDocs.InputSolicitud;
<html>
<head>
    <style>
        p.b {
            font-family: Arial;
            font-size: 9px;
        }

        p.negrita {
            font-family: Arial;
            font-weight: bold;
        }

        font.l {
            font-weight: bold;
        }

        font.z {
            text-align: right;
        }

        p.solid {
            border: 1px solid black;
        }

        table.data, td.data, th.data {
            border: 1px solid black;
        }

        table.data {
            width: 100%;
            border-collapse: collapse;
        }

        table.x, td.x, th.x {
            border: 0px solid black;
        }

        table.s, td.s, th.s {
            border: 1px solid black;
        }

        table.s {
            width: 100%;
            border-collapse: collapse;
        }
    </style>
    <meta name="tipo_contenido" content="text/html;" http-equiv="content-type" charset="utf-8">


</head>

<body style="text-align: justify;">
    @*<p align="right" class="b">
            No.Cliente:<br />
            No.Contrato:
        </p>*@
    <p class="b" align="center" style="width:950px;background-color:#E6E6E6;">DATOS DEL CRÉDITO</p>
    <table>
        <tr>
            <td style="width:100px;">
                <p class="b">
                    TIPO DE CRÉDITO:
                </p>
            </td>
            <td style="width:200px;">
                <p class="b" align="center"><b><u>@Model.TipoCredito</u></b></p>
            </td>
            <td>&nbsp;</td>
            <td style="width:200px;">
                <p class="b">DESTINO DEL CRÉDITO: </p>
            </td>
            <td style="width:200px;">
                <p class="b" align="center"><b><u>@Model.DestinoCredito</u></b></p>
            </td>
            <td style="width:100px;">
                <p class="b">FECHA: </p>
            </td>
            <td style="width:100px;">
                <p class="b" align="center"><b><u>@Model.Fecha</u></b></p>
            </td>
        </tr>
    </table>
    <p class="b" align="center" style="width:950px;background-color:#E6E6E6;">
        DATOS DEL SOLICITANTE
    </p>
    <table>
        <tr style="height:5px;">
            <td style="width:100px;">
                <p class="b">
                    @Model.Nombres<BR>______________________<BR>
                    NOMBRE(S)
                </p>
            </td>
            <td>
                <p class="b">
                    @Model.ApellidoPaterno<BR>______________________<BR>
                    APELLIDO PATERNO
                </p>
            </td>
            <td style="width:100px;">
                <p class="b">
                    @Model.ApellidoMaterno<BR>______________________<BR>
                    APELLIDO MATERNO
                </p>
            </td>
            </td>

            <td style="width:50px;">
                <p class="b">SEXO</p>
            </td>
            <td style="width:10px;">
                <p class="b">M</p>
            </td>
            <td style="width:5px;"><p class="solid" align="center" style="width:15px;" class="b">@Model.SexoMasculino</p></td>
            <td style="width:10px;">
                <p class="b">F</p>
            </td>
            <td style="width:50px;"><p class="solid" align="center" style="width:15px;" class="b">@Model.SexoFemenino</p></td>
            </td>
            <td style="width:50px;">
                <p class="b">EDAD</p>
            </td>
            <td style="width:100px;">
                <p class="b"><b><u>@Model.Edad</u></b></p>
            </td>
        </tr>

    </table>

    <table>
        <tr>
            <td style="width:140px;">
                <p class="b">
                    @Model.Rfc<br>
                    _____________________<br>
                    R.F.C.
                </p>
            </td>
            <td style="width:250px;">
                <p class="b">
                    @Model.FechaNacimiento<br>
                    _____________________<br>
                    FECHA DE NACIMIENTO
                </p>
            </td>
            <td style="height:30px;">
                <p class="b">
                    @Model.EntidadFederativaNacimiento<br>
                    _________________________<br>
                    ENTIDAD FEDERATIVA DE NACIMIENTO
                </p>
            </td>
            <td style="width:200px;">
                <p class="b">
                    @Model.PaisNacimiento<br>
                    _____________________<br>
                    PAIS DE NACIMIENTO
                </p>
            </td>
            <td style="width:200px;">
                <p class="b">
                    @Model.Nacionalidad<br>
                    _____________________<br>
                    NACIONALIDAD
                </p>
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td style="width:80px;">
                <p class="b">
                    @Model.Curp<br>
                    _____________________<br>
                    CURP
                </p>
            </td>
            <td style="width:80px;">
                <p class="b">
                    @Model.FolioIne<br>
                    _____________________<br>
                    FOLIO I.N.E
                </p>
            </td>
            <td style="height:30px;">
                <p class="b">
                    @Model.ClaveElector<br>
                    _________________________<br>
                    CLAVE ELECTOR I.N.E.

                </p>
            </td>
            <td style="width:100px;">
                <p class="b">
                    @Model.CorreoEletronico<br>
                    _____________________<br>
                    CORREO ELECTRONICO
                </p>
            </td>
            <td style="width:100px;">
                <p class="b">
                    @Model.PaisNacimiento<br>
                    _____________________<br>
                    PAIS DE NACIMIENTO
                </p>
            </td>
            <td style="width:50px;">
                <p class="b">
                    @Model.Telefono1<br>
                    _______________<br>
                    TELÉFONO<br />
                    (NO CELULAR)
                </p>
            </td>
            <td style="width:50px;">
                <p class="b">
                    @Model.Telefono2<br>
                    _____________<br>
                    OTRO TELÉFONO
                </p>
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td style="width:200px;">
                <p class="b">
                    @Model.DomicilioParticularCalleNumero<br>
                    _____________________<br>
                    DOMICILIO PARTICULAR (CALLE Y NÚMERO)
                </p>
            </td>
            <td style="width:150px;">
                <p class="b">
                    @Model.Colonia<br>
                    _____________________<br>
                    COLONIA
                </p>
            </td>
            <td style="width:150px;">
                <p class="b">
                    @Model.CP<br>
                    ______<br>
                    C.P.

                </p>
            </td>
            <td style="width:300px;">
                <p class="b">
                    @Model.MunicipioPoblacionEstadoPais<br>
                    _____________________<br>
                    (MUNICIPIO, POBLACIÓN, ESTADO, PAÍS)

                </p>
            </td>

        </tr>
    </table>
    <table>
        <tr>
            <td style="width:150px;">
                <p class="b">
                    TIEMPO DE RESIDIR:
                </p>
            </td>
            <td style="width:50px;">
                <p class="b">
                    <u>@Model.TiempoResidencia</u>
                </p>
            </td>

            <td style="width:25px;"><p class="solid" align="center" style="width:15px;" class="b"> @Model.EsPropia</p></td>
            <td style="width:50px;">
                <p class="b">
                    Propia
                </p>
            </td>
            <td style="width:25px;"><p class="solid" align="center" style="width:15px;" class="b">@Model.EsRentada</p></td>
            <td style="width:50px;">
                <p class="b">
                    Rentada
                </p>
            </td>
            <td style="width:25px;"><p class="solid" align="center" style="width:15px;" class="b">  @Model.EsPrestada</p></td>
            <td style="width:50px;">
                <p class="b">
                    prestada
                </p>
            </td>
            <td style="width:25px;"><p class="solid" align="center" style="width:15px;" class="b">@Model.EsViveConPadres</p></td>
            <td style="width:50px;">
                <p class="b">
                    VIVE C/PAPAS
                </p>
            </td>
            <td style="width:50px;">
                <p class="b">
                    LA CASA ESTA:
                </p>
            </td>
            <td style="width:25px;"><p class="solid" align="center" style="width:15px;" class="b"  @Model.EstaLibre</p></td>
            <td style="width:50px;">
                <p class="b">
                    LIBRE
                </p>
            </td>
            <td style="width:25px;"><p class="solid" align="center" style="width:15px;" class="b">  @Model.EstaGravada</p></td>
            <td style="width:50px;">
                <p class="b">
                    GRAVADA
                </p>
            </td>
        </tr>
    </table>
    <p class="b"> SI ES RENTADA PROPORCIONE: </p>
    <table>
        <tr>
            <td style="width:250px;">
                <p class="b">
                    @Model.NombreArrendador <br>
                    ______________________________<br>
                    NOMBRE DEL ARRENDADOR
                </p>
            </td>
            <td style="width:250px;">
                <p class="b">
                    @Model.DomicilioArrendador <br>
                    _______________________________<br>
                    DOMICILIO DEL ARRENDADOR
                </p>
            </td>
            <td style="width:250px;">
                <p class="b">
                    @Model.TelefonoArrendador <br>
                    _______________________________<br>
                    TELEFONO DEL ARRENDADOR
                </p>
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td style="width:200px;">
                <p class="b">
                    ESTADO CIVIL
                </p>
            </td>
            <td style="width:15px;"><p class="solid" align="center" style="width:15px;" class="b">  @Model.EdoCivilSoltero</p></td>
            <td style="width:50px;">
                <p class="b">
                    SOLTERO
                </p>
            </td>
            <td style="width:15px;"><p class="solid" align="center" style="width:15px;" class="b">  @Model.EdoCivilCasado</p></td>
            <td style="width:50px;">
                <p class="b">
                    CASADO
                </p>
            </td>
            <td style="width:15px;"><p class="solid" align="center" style="width:15px;" class="b">  @Model.EdoCivilDivorciado</p></td>
            <td style="width:50px;">
                <p class="b">
                    DIVORCIADO
                </p>
            </td>
            <td style="width:15px;"><p class="solid" align="center" style="width:15px;" class="b">  @Model.EdoCivilUnionLibre</p></td>
            <td style="width:50px;">
                <p class="b">
                    UNION LIBRE
                </p>
            </td>
            <td style="width:15px;"><p class="solid" align="center" style="width:15px;" class="b">  @Model.EdoCivilViudo</p></td>
            <td style="width:50px;">
                <p class="b">
                    VIUDO
                </p>
            </td>

            <td style="width:250px;">
                <p class="b">
                    NÚMERO DE DEPENDIENTES ECONOMICOS______@Model.DependientesEconomicos
                </p>
            </td>
        </tr>
    </table>

    <p class="b" align="center" style="width:950px;background-color:#E6E6E6;">
        DATOS DE CÓNYUGE
    </p>
    <table>
        <tr>
            <td style="width:150px;">
                <p class="b">
                    @Model.NombreConyuge<br>
                    _____________________<br>
                    NOMBRE CONYUGE
                </p>
            </td>
            <td style="width:150px;">
                <p class="b">
                    @Model.ApellidoPaternoConyuge<br>
                    _____________________<br>
                    APELLIDO PATERNO
                </p>
            </td>
            <td style="width:200px;">
                <p class="b">
                    @Model.ApellidoMaternoConyuge <br>
                    _____________________<br>
                    APELLIDO MATERNO
                </p>
            </td>
            <td style="width:10px;">
                <p class="b">M</p>
            </td>
            <td style="width:5px;"><p class="solid" align="center" style="width:15px;" class="b">@Model.SexoFemeninoConyuge</p></td>
            <td style="width:10px;">
                <p class="b">F</p>
            </td>
            <td style="width:50px;"><p class="solid" align="center" style="width:15px;" class="b">@Model.SexoMasculinoConyuge</p></td>
            </td>
            <td style="width:200px;">
                <p class="b">
                    @Model.EdadConyuge <br>
                    _____________________<br>
                    EDAD CONYUGE
                </p>
            </td>

        </tr>
    </table>
    <table>
        <tr>
            <td style="width:150px;">
                <p class="b">
                    @Model.RfcConyuge<br>
                    _____________________<br>
                    R.F.C.
                </p>
            </td>
            <td style="width:150px;">
                <p class="b">
                    @Model.FechaNacimientoConyuge<br>
                    _____________________<br>
                    FECHA DE NACIMIENTO
                </p>
            </td>
            <td style="width:200px;">
                <p class="b">
                    @Model.EntidadFederativaNacimientoConyuge<br>
                    _____________________<br>
                    ENTIDAD FEDERATIVA DE NACIMIENTO
                </p>
            </td>
            <td style="width:200px;">
                <p class="b">
                    @Model.PaisNacimientoConyuge<br>
                    _____________________<br>
                    PAIS DE NACIMIENTO
                </p>
            </td>
            <td style="width:200px;">
                <p class="b">
                    @Model.NacionalidadConyuge<br>
                    _____________________<br>
                    NACIONALIDAD
                </p>
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td style="width:80px;">
                <p class="b">
                    @Model.CurpConyuge<br>
                    _____________________<br>
                    CURP
                </p>
            </td>
            <td style="width:80px;">
                <p class="b">
                    @Model.FolioIneConyuge<br>
                    _____________________<br>
                    FOLIO I.N.E
                </p>
            </td>
            <td style="height:30px;">
                <p class="b">
                    @Model.ClaveElectorConyuge <br>
                    _________________________<br>
                    CLAVE ELECTOR I.N.E.

                </p>
            </td>

            <td style="width:100px;">
                <p class="b">
                    @Model.CorreoEletronicoConyuge<br>
                    _____________________<br>
                    CORREO ELECTRONICO
                </p>
            </td>
            <td style="width:50px;">
                <p class="b">
                    @Model.Telefono1Conyuge<br>
                    _______________<br>
                    TELÉFONO (NO CELULAR)
                </p>
            </td>
            <td style="width:50px;">
                <p class="b">
                    @Model.Telefono2Conyuge<br>
                    _____________<br>
                    OTRO TELÉFONO
                </p>
            </td>
        </tr>
    </table>
    <table>
        <p class="b" align="center" style="width:950px;background-color:#E6E6E6;">
            REFERENCIAS PERSONALES MAS CERCANOS (QUE NO VIVAN EN EL MISMO DOMICILIO)
        </p>
        <table>
            <tr>
                <td style="width:250px;">
                    <p class="b">
                        FAMILIAR DEL SOLICITANTE

                    </p>
                </td>
                <td style="width:250px;">
                    <p class="b">
                        @Model.NombreReferencia1<br>
                        ___________________________<br>
                        NOMBRE COMPLETO
                    </p>
                </td>
                <td style="width:250px;">
                    <p class="b">
                        @Model.DomicilioReferencia1<br>
                        _____________________<br>
                        DOMICILIO
                    </p>
                </td>
                <td style="width:250px;">
                    <p class="b">
                        @Model.TelefonoReferencia1 <br>
                        _____________________<br>
                        TELEFONO
                    </p>
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <td style="width:250px;">
                    <p class="b">
                        PRIMERA
                        REFERENCIA

                    </p>
                </td>
                <td style="width:250px;">
                    <p class="b">
                        @Model.NombreReferencia2 <br>
                        ___________________________<br>
                        NOMBRE COMPLETO
                    </p>
                </td>
                <td style="width:250px;">
                    <p class="b">
                        @Model.DomicilioReferencia2<br>
                        _____________________<br>
                        DOMICILIO
                    </p>
                </td>
                <td style="width:250px;">
                    <p class="b">
                        @Model.TelefonoReferencia2 <br>
                        _____________________<br>
                        TELEFONO
                    </p>
                </td>
            </tr>
        </table>
        <p class="b" align="center" style="width:950px;background-color:#E6E6E6;">
            TRABAJO ACTUAL DEL SOLICITANTE
        </p>
        <table>
            <tr>
                <td style="width:200px;">
                    <p class="b">
                        @Model.NombreEmpresaSolic<br>
                        _____________________<br>
                        NOMBRE DE LA EMPRESA O NEGOCIO
                    </p>
                </td>
                <td style="width:200px;">
                    <p class="b">
                        @Model.ActividadGiroSolic<br>
                        _____________________<br>
                        ACTIVIDAD O GIRO
                    </p>
                </td>
                <td style="width:200px;">
                    <p class="b">
                        @Model.TipoEmpleadoSolic<br>
                        _____________________<br>
                        TIPO DE EMPLEADO
                    </p>
                </td>
                <td style="width:200px;">
                    <p class="b">
                        @Model.EscolaridadSolic<br>
                        _____________________<br>
                        ESCOLARIDAD

                    </p>
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <td style="width:200px;">
                    <p class="b">
                        @Model.DomicilioEmpleoSolic<br>
                        _____________________<br>
                        DOMICILIO (CALLE , NÚMERO)
                    </p>
                </td>
                <td style="width:200px;">
                    <p class="b">
                        @Model.JefeInmediatoSolic<br>
                        _____________________<br>
                        JEFE INMEDIATO
                    </p>
                </td>
                <td style="width:200px;">
                    <p class="b">
                        @Model.TelefonoEmpleoSolic<br>
                        _____________________<br>
                        TELÉFONO
                    </p>
                </td>
                <td style="width:200px;">
                    <p class="b">
                        @Model.AntiguedadEmpleoSolic<br>
                        _____________________<br>
                        ANTIGUEDAD

                    </p>
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <td style="width:250px;">
                    <p class="b">
                        @Model.IngresosMensualesEmpleoSolic<br>
                        _____________________<br>
                        INGRESOS MENSUALES COMPROBABLES
                    </p>
                </td>
                <td style="width:250px;">
                    <p class="b">
                        @Model.OtrosIngresosSolic <br>
                        _____________________<br>
                        OTROS INGRESOS
                    </p>
                </td>
                <td style="width:250px;">
                    <p class="b">
                        @Model.ConceptoOtrosIngresosSolic<br>
                        _____________________<br>
                        CONCEPTO OTROS INGRESOS
                    </p>
                </td>

            </tr>
        </table>
        <p class="b" align="center" style="width:950px;background-color:#E6E6E6;">
            BIENES MUEBLES E INMUEBLES QUE POSEE Y EROGACIONES
        </p>
        <table>
            <tr>
                <td style="width:250px;">
                    <p class="b">
                        <br>
                        _____________________<br>
                        VALOR DE CASA
                    </p>
                </td>
                <td style="width:250px;">
                    <p class="b">
                      <br>
                        _____________________<br>
                        SALDO DE HIPOTECA
                    </p>
                </td>
                <td style="width:250px;">
                    <p class="b">
                        <br>
                        _____________________<br>
                        TELÉFONO
                    </p>
                </td>
                <td style="width:250px;">
                    <p class="b">
                        <br>
                        _____________________<br>
                        VALOR/RENTA HIPOTECA

                    </p>
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <td style="width:50px;">
                    <p class="b">
                        AUTOMÓVIL

                    </p>
                </td>
                <td style="width:30px;heith:5px;">

                    <p class="solid" align="center" style="width:15px;" class="b">&nbsp;</p>
                </td>
                </td>
                <td style="width:50px;">
                    <p class="b">
                        SI
                    </p>

                </td>
                <td style="width:30px;heith:5px;">

                    <p class="solid" align="center" style="width:15px;" class="b"></p>
                </td>
                </td>
                <td style="width150px;">
                    <p class="b">
                        NO
                    </p>

                </td>
                <td style="width:30px;heith:5px;">

                    <p class="solid" align="center" style="width:15px;" class="b">&nbsp;</p>
                </td>
                </td>
                <td style="width:50px;">
                    <p class="b">
                        PROPIO
                    </p>

                </td>
                <td style="width:30px;heith:5px;">

                    <p class="solid" align="center" style="width:15px;" class="b">&nbsp;</p>
                </td>
                </td>
                <td style="width:50px;">
                    <p class="b">
                        PAGANDOLO
                    </p>

                </td>
                <td style="width:150px;">
                    <p class="b">
                        <br>
                        _____________________<br>
                        MARCA
                    </p>
                </td>
                <td style="width:150px;">
                    <p class="b">
                        <br>
                        _____________________<br>
                        MODELO
                    </p>
                </td>
                <td style="width:150px;">
                    <p class="b">
                        SEGURO
                    </p>
                <td style="width:30px;heith:5px;">

                    <p class="b">SI</p>
                <td style="width:30px;heith:5px;">

                    <p class="solid" align="center" style="width:15px;" class="b">&nbsp;</p>
                </td>
                <td style="width:30px;heith:5px;">

                    <p align="center" class="b">NO</p>
                </td>
                <td style="width:30px;heith:5px;">

                    <p class="solid" align="center" style="width:15px;" class="b">&nbsp;</p>
                </td>

            </tr>
        </table>
        <table>
            <tr>
                <td style="width:150px;">
                    <p class="b">
                        <br>
                        _____________________<br>
                        SALDO
                    </p>
                </td>
                <td style="width:150px;">
                    <p class="b">
                        <br>
                        _____________________<br>
                        MENSUALIDAD
                    </p>
                </td>
                <td style="width:150px;">
                    <p class="b">
                        <br>
                        _____________________<br>
                        EMPRESA FINANCIADORA
                    </p>
                </td>
                <td style="width:150px;">
                    <p class="b">
                        <br>
                        _____________________<br>
                        TELÉFONO
                    </p>
                </td>
            </tr>
        </table>


        <p class="b" align="center" style="width:950px;background-color:#E6E6E6;">
            TRABAJO ACTUAL DEL CÓNYUGE

        </p>
        <table>
            <tr>
                <td style="width:450px;">
                    <p class="b">
                        <br>
                        _____________________<br>
                        NOMBRE DE LA EMPRESA O NEGOCIO
                    </p>
                </td>
                <td style="width:450px;">
                    <p class="b">
                        <br>
                        _____________________<br>
                        PUESTO O ACTIVIDAD
                    </p>
                </td>
                <td style="width:450px;">
                    <p class="b">
                        <br>
                        _____________________<br>
                        ESCOLARIDAD

                    </p>
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <td style="width:350px;">
                    <p class="b">
                        <br>
                        _____________________________<br>
                        DOMICILIO (CALLE,NÚMERO)
                    </p>
                </td>
                <td style="width:350px;">
                    <p class="b">
                        <br>
                        _____________________<br>
                        JEFE INMEDIAT
                    </p>
                </td>
                <td style="width:350px;">
                    <p class="b">
                        <br>
                        _____________________<br>
                        TELÉFONO


                    </p>
                </td>
                <td style="width:350px;">
                    <p class="b">
                        <br>
                        _____________________<br>
                        ANTIGUEDAD
                    </p>
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <td style="width:450px;">
                    <p class="b">
                        <br>
                        __________________________<br>
                        INGRESOS MENSUALES COMPROBABLES
                    </p>
                </td>
                <td style="width:450px;">
                    <p class="b">
                        <br>
                        _______________________<br>
                        OTROS INGRESOS
                    </p>
                </td>
                <td style="width:450px;">
                    <p class="b">
                        <br>
                        ______________________________<br>
                        CONCEPTO OTROS INGRESOS
                    </p>
                </td>
            </tr>
        </table>

        <p class="b" align="center" style="width:950px;background-color:#E6E6E6;">
            FORMA DE ENTREGA DE RECURSOS
        </p>
        <table>
            <tr>
                <td style="width:250px;">
                    <p class="b">
                        [  ]  EN TARJETA BANCARIA
                    </p>
                </td>
                <td style="width:250px;">
                    <p class="b">
                        [  ]  POR TRANSFERENCIA
                    </p>
                </td>
                <td style="width:250px;">
                    <p class="b">
                        BANCO
                    </p>
                </td>
                <td style="width:250px;">
                    <p class="b">
                        ____________________
                    </p>
                </td>
            </tr>
            <tr>
                <td style="width:250px;">
                    <p class="b">
                        [  ]  CHEQUE
                    </p>
                </td>
                <td style="width:250px;">
                    <p class="b">
                        [  ]  PAGO EN VENTANILLA
                    </p>
                </td>
                <td style="width:250px;">
                    <p class="b">
                        No. CUENTA O CTA. CLABE
                    </p>
                </td>
                <td style="width:250px;">
                    <p class="b">
                        ____________________
                    </p>
                </td>
            </tr>
            <tr>
                <td style="width:250px;">
                    <p class="b">
                        [  ]  OTRO_________________________
                    </p>
                </td>
                @*<td style="width:250px;">
                        <p class="b">
                            _______________________________
                        </p>
                    </td>*@
            </tr>
        </table>
        <br />

        <table class="data">
            <tr>
                <th width="400px" style="background-color:#E6E6E6;">

                    <p align="center" class="b">
                        DECLARATORIA DE REALIZACIÓN DE OPERACIONES POR CUENTA PROPIA
                    </p>
                </th>
            </tr>

        </table>
        <table class="data">
            <tr>
                <td width="400px">
                    <p align="left" class="b">
                        ¿DECLARA USTED QUE LAS OPERACIONES REALIZADAS CON LA INSTITUCION SON REALIZADAS POR CUENTA PROPIA Y QUE NO OPERA
                        A NOMBRE DE NINGÚN TERCERO YA SEA PERSONA FÍSICA O MORAL?
                    </p>
                    <p align="left" width="100px" class="b">
                        EN CASO DE NEGATIVA, INDICAR AL PROPIETARIO REAL DE LOS RECURSOS: _______________________________________
                    </p>
                    <br>
                </td>
                <td width="100px">
                    <p align="center" class="b">
                        [ ] SI
                    </p>
                </td>
                <td width="100px">
                    <p align="center" class="b">
                        [ ] NO
                    </p>
                </td>
            </tr>

        </table>

        <table class="data">
            <tr>
                <th width="900" style="background-color:#E6E6E6;">
                    <p align="center" class="b">
                        DECLARATORIA DE PERSONAS POLITÍCAMENTE EXPUESTAS
                    </p>
                </th>
            </tr>

        </table>


        <table class="data">
            <tr>
                <td width="200px">
                    <p align="left" class="b">
                        ¿ES USTED O TIENE RELACIÓN DE PARENTESCO CON ALGÚN FUNCIONARIO PÚBLICO NACIONAL O EXTRANJERO EN FUNCIONES O QUE EJERCIÓ FUNCIONES EN LOS ULTIMOS 12 MESES?
                    </p>
                    <p align="left" width="100px" class="b">
                        EN CASO AFIRMATIVO INDICAR LO SIGUIENTE:
                    </p>
                    <br>
                </td>
                <td width="100px">
                    <p align="center" class="b">
                        [ ] SI
                    </p>
                </td>
                <td width="100px">
                    <p align="center" class="b">
                        [ ] NO
                    </p>
                </td>

            </tr>

            <tr>
                <td>
                    <p align="left" class="b">2. CARGO DESEMPEÑADO:___________________</p>

                </td>
                <td>
                    <p align="left" class="b">3. PARENTESCO:___________________</p>

                </td>
                <td>
                    <p align="left" class="b">4. PERIODO DEL CARGO:_________________</p>

                </td>
            </tr>
            <tr>

                <td style="width:800px;">
                    <p align="left" class="b">
                        BAJO PROTESTA DE DECIR VERDAD MANIFIESTO QUE LA INFORMACIÓN ASENTADA EN ESTA SOLICITUD Y LOS DOCUMENTOS PROPORCIONADOS PARA LA MISMA, SON
                        VERDADEROS, CORRECTOS Y AUTÉNTICOS, ASÍ COMO LAS MANIFESTACIONES CONTENIDAS EN LA MISMA, HECHO QUE RATIFICO CON MÍ FIRMA ASENTADA A
                        CONTINUACIÓN:


                    </p>
                </td>
                <td>
                </td>

                <td>
                </td>

            </tr>

            <tr>
                <td>
                </td>

                <td>
                    <br>
                    <p style="width:200px;" align="center" class="b"><u>JESUS RAMOS LOPEZ</u></p>
                    <p align="center" class="b">
                        NOMBRE COMPLETO Y FIRMA DE "EL ACREDITADO"
                    </p>
                </td>

                <td>
                </td>
            </tr>

        </table>







        <table class="data">
            <tr>

                <th width="900px" style="background-color:#E6E6E6;">
                    <p align="center" class="b">
                        AUTORIZACIÓN PARA SOLICITAR REPORTES DE CRÉDITO
                    </p>
                </th>

            </tr>

        </table>


        <table class="data">
            <tr>
                <td><p></p></td>

            </tr>
            <tr>
                <td>
                    <p align="left" class="b">
                        POR ESTE CONDUCTO AUTORIZO EXPRESAMENTE A FOMEPADE, S.A.P.I. DE C.V SOFOM, E.N.R., PARA QUE POR CONDUCTO DE SUS FUNCIONARIOS FACULTADOS LLEVE A CABO INVESTIGACIONES, SOBRE MI COMPORTAMIENTO CREDITICIO O EL DE LA EMPRESA QUE REPRESENTO EN TRANS UNION DE MÉXICO, S. A. SIC Y/O DUN &
                        BRADSTREET, S.A. SIC. ASIMISMO, DECLARO QUE CONOZCO LA NATURALEZA Y ALCANCE DE LAS SOCIEDADES DE INFORMACIÓN CREDITICIA Y DE LA INFORMACIÓN
                        CONTENIDA EN LOS REPORTES DE CRÉDITO Y REPORTE DE CRÉDITO ESPECIAL; DECLARO QUE CONOZCO LA NATURALEZA Y ALCANCE DE LA INFORMACIÓN QUE SE
                        SOLICITARÁ, DEL USO QUE FOMEPADE, S.A.P.I. DE C.V SOFOM, E.N.R, HARÁ DE TAL INFORMACIÓN Y DE QUE ÉSTA PODRÁ REALIZAR CONSULTAS PERIÓDICAS SOBRE MI
                        HISTORIAL O EL DE LA EMPRESA QUE REPRESENTO, CONSINTIENDO QUE ESTA AUTORIZACIÓN SE ENCUENTRE VIGENTE POR UN PERÍODO DE 3 AÑOS CONTADOS A PARTIR
                        DE SU EXPEDICIÓN Y EN TODO CASO DURANTE EL TIEMPO QUE SE MANTENGA LA RELACIÓN JURÍDICA. ESTOY CONSCIENTE Y ACEPTO QUE ESTE DOCUMENTO QUEDE
                        BAJO CUSTODIA DE FOMEPADE, S.A.P.I. DE C.V SOFOM, E.N.R Y/O SOCIEDAD DE INFORMACIÓN CREDITICIA CONSULTADA PARA EFECTOS DE CONTROL Y CUMPLIMIENTO
                        DEL ARTÍCULO 28 DE LA LEY PARA REGULAR LAS SOCIEDADES DE INFORMACIÓN CREDITICIA; MISMO QUE SEÑALA QUE LAS SOCIEDADES SÓLO PODRÁN PROPORCIONAR
                        INFORMACIÓN A UN USUARIO, CUANDO ÉSTE CUENTE CON LA AUTORIZACIÓN EXPRESA DEL CLIENTE MEDIANTE SU FIRMA AUTÓGRAFA.

                    </p>
                </td>

            </tr>

            <tr>
                <td>
                    <br><p align="left" class="b">NOMBRE DEL SOLICITANTE:<u>RALJ681004UN3 RALJ681004HZSMPS06</u></p>
                    <p align="left" class="b">RFC o CURP: <u>RALJ681004UN3 RALJ681004HZSMPS06</u></p>
                    <p align="left" class="b">DOMICILIO COMPLETO:</p>
                    <p align="left" class="b">LUGAR Y FECHA EN QUE SE FIRMA LA AUTORIZACIÓN</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p align="center" class="b"><u>JESUS RAMOS LOPEZ</u></p>
                    <p align="center" class="b">
                        NOMBRE COMPLETO Y FIRMA DE "EL ACREDITADO"
                    </p>
                </td>
            </tr>

        </table>
        <table class="data">
            <tr>
                <th style="background-color:#E6E6E6;">
                    <p align="center" class="b">
                        PARA USO EXCLUSIVO DE LA EMPRESA QUE EFECTÚA LA CONSULTA FOMEPADE, S.A.P.I. DE C.V SOFOM, E.N.R

                    </p>
                </th>
            </tr>
            <tr>
                <th>
                    <p align="left" class="b">
                        NOMBRE DEL FUNCIONARIO QUE RECABA AUTORIZACIÓN:

                    </p>
                    <br>
                </th>
            </tr>
            <tr>
                <th>
                    <p align="left" class="b">
                        FECHA DE CONSULTA BC:

                    </p>
                    <br>
                </th>
            </tr>
            <tr>
                <th>
                    <p align="left" class="b">
                        FOLIO DE CONSULTA BC:


                    </p>
                    <br>
                </th>
            </tr>

        </table>
        <table class="data">
            <tr>
                <th style="background-color:#E6E6E6;">
                    <p align="center" class="b">
                        AUTORIZACIÓN PARA EFECTOS PUBLICITARIOS

                    </p>
                </th>
            </tr>
            <tr>
                <td>
                    <p align="left" class="b">
                        EN MI CARÁCTER DE SOLICITANTE DE CRÉDITO, AUTORIZÓ A FOMEPADE S.A.P.I. DE C.V. SOFOM E.N.R., PARA QUE PROPORCIONE A TERCERAS PERSONAS FÍSICAS O
                        MORALES LA INFORMACIÓN QUE DERIVE DE LA PRESENTE OPERACIÓN, SE UTILICE CON FINES MERCADOTÉCNICOS O PUBLICITARIOS PARA RECIBIR PUBLICIDAD,
                        INCLUYENDO LA COMERCIALIZACIÓN DE PRODUCTOS O SERVICIOS. NO OBSTANTE LO ANTERIOR EL SOLICITANTE PODRÁ MODIFICAR SU AUTORIZACIÓN, MANIFESTÁNDOLO
                        POR ESCRITO EN CUALQUIER SUCURSAL DE FOMEPADE.


                    </p>
                </td>
            </tr>

            <tr>
                <td>
                    <br>
                    <br>
                    <br>

                    <br>
                    <p align="center" class="b"><u>JESUS RAMOS LOPEZ</u></p>
                    <p align="center" class="b">
                        NOMBRE COMPLETO Y FIRMA DE "EL ACREDITADO"
                    </p>
                </td>
            </tr>
        </table>

        <table class="data">
            <tr>

                <th width="900px" style="background-color:#E6E6E6;">
                    <p align="center" class="b">
                        AUTORIZACIÓN PARA SOLICITAR REPORTES DE CRÉDITO
                    </p>
                </th>

            </tr>

        </table>
        <table class="data">
            <tr>

                <td width="900px">
                    <p align="left" class="b">
                        BAJO PROTESTA DE DECIR VERDAD DECLARO Y EXTIENDO LA PRESENTE CONSTANCIA DE CONFORMIDAD QUE LOS RECURSOS OTORGADOS BAJO ESTE CRÉDITO SERÁN
                        UTILIZADOS PARA LA EDIFICACIÓN DE UNA SOLUCIÓN DE VIVIENDA EN LA MODALIDAD DE AUTOPRODUCCIÓN O AUTOCONSTRUCCIÓN ASISTIDA Y /O MEJORAMIENTO DE
                        VIVIENDA O EN SU CASO PARA LA ADQUISICIÓN DE MATERIALES DE CONSTRUCCIÓN, POR LO QUE DECLARO CONOCER Y ENTENDER EL DESTINO QUE SE DARÁ A LOS
                        RECURSOS OTORGADOS A MI FAVOR, COMPROMETIÉNDOME EN ESTE ACTO A NO DAR UN USO DISTINTO AL ESTABLECIDO EN EL PRESENTE DOCUMENTO Y EL CONTRATO.
                    </p>
                </td>

            </tr>
            <tr>

                <td width="900px">
                    <br>
                    <br>
                    <br>

                    <br>
                    <p align="center" class="b">
                        JESUS RAMOS LOPEZ
                    </p>
                    <p align="center" class="b">
                        NOMBRE COMPLETO Y FIRMA DE "EL ACREDITADO"
                    </p>
                </td>

            </tr>

        </table>
        <br />
        <br />
        <br />
        <br />
        <table class="data">
            <tr>
                <th width="900px" style="background-color:#E6E6E6;">
                    <p align="center" class="b">
                        AUTORIZACIÓN PARA DOMICILIACIÓN DE RECIBOS
                    </p>
                </th>

            </tr>

        </table>
        <table class="s">

            <tr class="s">
                <td width="50%" class="s">
                    <p align="left" class="b">
                        EMISOR (NOMBRE O RAZÓN SOCIAL) FOMEPADE S.A.P.I. DE C.V. SOFOM E.N.R.
                    </p>
                </td>
                <td class="s">
                    <p align="left" class="b">
                        NÚM. PAGARE: 2220028840
                    </p>
                </td>


            </tr>
            <td colspan="2" class="s">
                <p align="left" class="b">
                    CONCEPTO DEL CRÉDITO<br><b>
                        CRÉDITO OTORGADO DEL PRODUCTO APRECIA TU NÓMINA DE FECHA ( 10 /FEBRERO/2020 ) CON FECHA DE VENCIMIENTO ( 15/AGOSTO/2021 ) A 36 PAGOS
                        QUINCENALES POR UN IMPORTE DE $ 2,081.22 (DOS MIL OCHENTA Y UNO PESOS CON 22/100 M.N.)
                    </b>
                </p>
            </td>



            </tr>
            <tr class="s">
                <td class="s">
                    <p align="left" class="b">
                        BANCO RECEPTOR DONDE RESIDE LA CUENTA BANCARIA (RAZÓN SOCIAL)
                    </p>
                    <p align="left" class="b">
                    </p>
                    <p align="left" class="b">
                        <b>Banorte</b>
                    </p>
                </td>
                <td class="s">
                    <table class="s">
                        <tr>
                            <td colspan="15"><p class="b">NUMERO DE CLABE</p></td>
                        </tr>
                        <tr>
                            <td width="30" class="s" height="30"></td>
                            <td width="50" class="s"></td>
                            <td width="50" class="s"></td>
                            <td width="50" class="s"></td>
                            <td width="50" class="s"></td>
                            <td width="50" class="s"></td>
                            <td width="50" class="s"></td>
                            <td width="50" class="s"></td>
                            <td width="50" class="s"></td>
                            <td width="50" class="s"></td>
                            <td width="50" class="s"></td>
                            <td width="50" class="s"></td>
                            <td width="50" class="s"></td>
                            <td width="50" class="s"></td>
                            <td width="50" class="s"></td>
                        </tr>
                        <tr width="200px">
                            <td colspan="15"><p class="b">TELÉFONO MOVIL ASOCIADO</p></td>

                        </tr>
                        <tr>
                            <td width="30" class="s" height="30"></td>
                            <td width="50" class="s"></td>
                            <td width="50" class="s"></td>
                            <td width="50" class="s"></td>
                            <td width="50" class="s"></td>
                            <td width="50" class="s"></td>
                            <td width="50" class="s"></td>
                            <td width="50" class="s"></td>
                            <td width="50" class="s"></td>
                            <td width="50" class="s"></td>
                            <td width="50" class="s"></td>
                            <td width="50" class="s"></td>
                            <td width="50" class="s"></td>
                            <td width="50" class="s"></td>
                            <td width="50" class="s"></td>
                        </tr>
                        <tr>
                            <td colspan="15"><p class="b">NUMERO DE TARJETA DE </p></td>

                        </tr>
                        <tr>
                            <td width="30" class="s" height="30"></td>
                            <td width="50" class="s"></td>
                            <td width="50" class="s"></td>
                            <td width="50" class="s"></td>
                            <td width="50" class="s"></td>
                            <td width="50" class="s"></td>
                            <td width="50" class="s"></td>
                            <td width="50" class="s"></td>
                            <td width="50" class="s"></td>
                            <td width="50" class="s"></td>
                            <td width="50" class="s"></td>
                            <td width="50" class="s"></td>
                            <td width="50" class="s"></td>
                            <td width="50" class="s"></td>
                            <td width="50" class="s"></td>
                        </tr>
                        <tr>
                            <td colspan="15"><p class="b">AQUEL QUE LO SUSTITUYA PARA EL CASO DE REPOSICIÓN O REPORTE POR ROBO O EXTRAVÍO</p></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <table class="s">
            <td>
                <p class="b">
                    "AUTORIZO AL BANCO RECEPTOR PAR QUE REALICE POR MI CUENTA LOS PAGOS POR LOS CONCEPTOS QUE EN ESTE DOCUMENTO SE DETALLAN, CON CARGO A LA CUENTA BANCARIA IDENTIFICADA POR LA CLABE O NUMERO DE TARJETA DE DEBITO INDICADO AL RUBRO. CONVENGO EN QUE EL BANCO RECEPTOR QUEDA LIBERADO DE TODA RESPONSABILIDAD SI EL EMISOR EJERCITARA ACCIONES CONTRA MI, DERIVADOS DE LA LEY O EL CONTRATO QUE TENGAMOS CELEBRADO, Y QUE EL BANCO RECEPTOR NO ESTARÁ OBLIGADO A EFECTUAR NINGUNA RECLAMACIÓN AL EMISOR; NI A IMPONER RECURSOS DE NINGUNA ESPECIE CONTRA MULTAS, SANCIONES O COBROS INDEBIDOS, TODO LO CUAL, EN CASO DE SER NECESARIO, SERA EJECUTADO POR MI. EL BANCO RECEPTOR TAMPOCO SERA RESPONSABLE SI EL EMISOR NO ENTREGA OPORTUNAMENTE LOS COMPROBANTES DE SERVICIOS, O SI LOS PAGOS SE REALIZAN EXTEMPORÁNEAMENTE POR RAZONES AJENAS AL BANCO RECEPTOR, EL CUAL TENDRÁ ABSOLUTA LIBERTAD DE CANCELARME ESTE SERVICIO SI EN MI CUENTA NO EXISTEN FONDOS SUFICIENTES PARA CUBRIR UNO O MAS DE LOS PAGOS QUE LE REQUIERA EL EMISOR, O BIEN, ESTA ESTUVIERA BLOQUEADA POR ALGÚN MOTIVO.<br>
                    ESTOY ENTERADO DE QUE EN CUALQUIER MOMENTO PODRE SOLICITAR LA CANCELACIÓN DE LA PRESENTE DOMICILIACIÓN SIN COSTO A MI CARGO"
                </p>
            </td>

        </table>
        <table class="s ">
            <td width="50%" height="30" class="s">
                <p class="b">
                    FECHA (DD/MM/AAAA):
                </p>
            </td>
            <td class="s">
                <p class="b">
                    FIRMA DEL CLIENTE USUARIO TITULAR DE LA CUENTA BANCARIA
                </p>
            </td>

        </table>
        <br>
        <br>
        <table class="data">
            <tr>

                <th width="900px" style="background-color:#E6E6E6;">
                    <p align="center" class="b">
                        AVISO DE PRIVACIDAD
                    </p>
                </th>

            </tr>
            <tr>
                <td width="900px">
                    <p align="right" class="b"><b> BLVD. ATLIXCO NO. 3115, INT. 1, COL. NUEVA ANTEQUERA, PUEBLA, PUE. C.P. 72180.</b></p>
                    <p align="left" class="b">
                        EN ATENCIÓN A LAS DISPOSICIONES ESTABLECIDAS EN LA LEY FEDERAL DE PROTECCIÓN DE DATOS EN POSESIÓN DE LOS PARTICULARES Y DEMÁS RELACIONADAS, LOS DATOS PERSONALES QUE A USTED PERTENEZCAN Y QUE OBREN EN PODER DE DE <b>FOMEPADE S.A.P.I. DE C.V. SOFOM ENR Y/O APRECIA FINANCIERA,</b> SUS EMPRESAS AFILIADAS O PERTENECIENTES AL MISMO GRUPO EMPRESARIAL, SE TRATARÁN AL TENOR DE LA LEGISLACIÓN EN LA MATERIA. ASIMISMO, LE INFORMAMOS LO SIGUIENTE:<br> <b>APRECIA FINANCIERA</b> ES RESPONSABLE DE RECABAR, USAR Y PROTEGER SUS DATOS PERSONALES, DERIVADOS DEL PROCESO LEGAL Y/O CONTRACTUAL CON CLIENTES Y
                        PROVEEDORES POR LO QUE SE COMPROMETE A QUE ESTOS DATOS SERÁN TRATADOS BAJO LAS MÁS ESTRICTAS MEDIDAS DE SEGURIDAD QUE GARANTICEN SU
                        CONFIDENCIALIDAD. ENTRE LOS DATOS QUE SE PODRÍAN SOLICITAR SON LOS SIGUIENTES: NOMBRE, DOMICILIO, RFC, MAIL, TELÉFONO FIJO Y CELULAR, CURP,
                        INFORMACIÓN LABORAL, INFORMACIÓN PATRIMONIAL, EDAD Y REDES SOCIALES ENTRE OTROS.<br>
                        SUS DATOS PERSONALES EN NUESTRA POSESIÓN, TIENEN COMO FINALIDAD PRINCIPAL LA DE IDENTIFICACIÓN, LOCALIZACIÓN Y CONTACTO CON EL TITULAR, LA ADECUADA
                        REALIZACIÓN DE LAS OPERACIONES Y OTORGAMIENTO DE CRÉDITOS E INVERSIONES, ASÍ COMO PARA LA CELEBRACIÓN DE LOS DEMÁS ACTOS QUE EL RESPONSABLE PUEDE
                        REALIZAR CONFORME A LA LEY Y SUS ESTATUTOS SOCIALES; FACTURACIÓN, COBRANZA COMERCIAL, PROSPECCIÓN Y ATENCIÓN REFERENTE A NUESTROS SERVICIOS.<br>
                        <b>TRANSFERENCIA.-</b> SE HACE DE SU CONOCIMIENTO QUE SUS DATOS PERSONALES PODRÁN SER TRANSFERIDOS Y TRATADOS DENTRO Y FUERA DEL PAÍS, POR PERSONAS
                        DISTINTAS A DE <b>APRECIA FINANCIERA</b>, BRINDANDO EN ESTE CASO LOS DATOS INDISPENSABLES PARA UNA ACTIVIDAD O SERVICIO ESPECÍFICO; ASEGURADORAS;
                        MARKETING, DESPACHOS EXTERNOS DE COBRANZA, ADMINISTRADORES DE FACTURACIÓN Y COBRANZA Y; A LAS AUTORIDADES COMPETENTES, LOCALES Y FEDERALES ,
                        ÚNICA Y EXCLUSIVAMENTE CUANDO SE ENCUENTRE DENTRO DE LAS EXCEPCIONES SEÑALADAS EN LA LEY Y SU REGLAMENTO. SI USTED NO MANIFIESTA SU OPOSICIÓN
                        PARA QUE SUS DATOS PERSONALES SEAN TRANSFERIDOS, SE ENTENDERÁ QUE HA OTORGADO SU CONSENTIMIENTO PARA ELLO.<br>
                        DATOS PERSONALES SENSIBLES. - PARA CUMPLIR CON LAS FINALIDADES PREVISTAS EN ESTE AVISO DE PRIVACIDAD EN ALGUNOS CASOS PODRÁN SER RECABADOS Y
                        TRATADOS <b>DATOS PERSONALES SENSIBLES,</b> TALES COMO INFORMACIÓN BANCARIA Y/O PATRIMONIAL.<br>
                        <b>DERECHOS ARCO, REVOCACIÓN DE CONSENTIMIENTO Y LIMITACIÓN Y/O DIVULGACIÓN DE SUS DATOS.</b>- CABE SEÑALAR QUE USTED O SU REPRESENTANTE, TENDRÁ EN
                        CUALQUIER TIEMPO EL DERECHO DE ACCEDER, RECTIFICAR, CANCELAR Y OPONERSE AL TRATAMIENTO DE SUS DATOS PERSONALES, ASÍ COMO REVOCAR SU
                        CONSENTIMIENTO AL TRATAMIENTO DE LOS MISMOS Y PODRÁ LIMITAR EL USO O DIVULGACIÓN DE SUS DATOS PERSONALES, PARA LO CUAL DEBERÁ HACERSE POR ESCRITO,
                        DIRIGIDO AL <b>DR. SAMUEL RANGEL RODRÍGUEZ</b>, AL CORREO ELECTRÓNICO: <b style="color:blue" ;>SAMUEL.RANGEL@DATOSPERSONALESMEXICO.COM</b>QUIEN A SU VEZ LE COMUNICARÁ AL TITULAR EN UN PLAZO MÁXIMO DE VEINTE DÍAS, CONTADOS DESDE LA FECHA EN QUE SE RECIBIÓ LA SOLICITUD, LA DETERMINACIÓN ADOPTADA Y EN CASO DE QUE RESULTARA PROCEDENTE, SE HARÁ EFECTIVA DENTRO DE LOS QUINCE DÍAS SIGUIENTES A LA FECHA EN QUE SE COMUNICA LA RESPUESTA.<br>
                        <b>APRECIA FINANCIERA</b> GRABA VIDEOS, TOMA FOTOGRAFÍAS DE LOS EVENTOS QUE REALIZA, SI USTED INGRESA O TRANSITA POR LAS OFICINAS DE LA EMPRESA ACEPTA QUE
                        PODRÁ SER GRABADO Y/O FOTOGRAFIADO POR RAZONES DE SEGURIDAD. PARA PROTEGER LOS DATOS PERSONALES QUE RECIBA <b>APRECIA FINANCIERA</b>, ÉSTE HA
                        ESTABLECIDO MEDIDAS DE SEGURIDAD TANTO ADMINISTRATIVAS Y TÉCNICAS COMO FÍSICAS, SEGÚN SEA MÁS APROPIADO DE ACUERDO AL TIPO DE DATOS PERSONALES EN
                        CUESTIÓN Y EL TRATAMIENTO AL QUE ESTÁN SUJETOS.
                        <b>APRECIA FINANCIERA</b> SE RESERVA EL DERECHO DE EFECTUAR MODIFICACIONES O ACTUALIZACIONES EN CUALQUIER MOMENTO AL TEXTO DEL PRESENTE AVISO DE
                        PRIVACIDAD, PARA INCLUIR INFORMACIÓN DE MODIFICACIONES A LAS LEYES APLICABLES Y SU REGLAMENTO. EN CASO DE CAMBIOS AL AVISO DE PRIVACIDAD ÉSTOS SE
                        HARÁN SABER A LOS TITULARES EN LA PÁGINA WEB <b style="color:blue" ;>http://WWW.APRECIA.COM.MX/AVISO-DE-PRIVACIDAD/</b> , POR LO CUAL LE PEDIMOS LA REVISE DE MANERA
                        PERIÓDICA.<br> DERIVADO DE LO ANTERIOR, EL TITULAR DE LOS DATOS PERSONALES MANIFIESTA LO SIGUIENTE:<br>
                        [ ] CONSIENTO QUE TODOS MIS DATOS PERSONALES, SEAN TRATADOS CONFORME AL PRESENTE AVISO DE PRIVACIDAD.<br>
                    </p>
                    <p align="left" class="b">NOMBRE, FECHA Y FIRMA 10/FEBRERO/2020 </p>


                </td>


            </tr>
            <tr>

                <td><p align="right" class="b">Última actualización: julio 2019</p></td>
            </tr>
        </table>

        <table>
            <tr>
                <td><p class="b">NOMBRE Y FIRMA DEL PROMOTOR:_______________________________________</p></td>
                <td>
                    <p class="b">
                        CREDITO PROCEDENTE:___________SI [ ]  &nbsp;&nbsp;NO [ ]<br>
                        NOMBRE Y FIRMA MESA DE CONTROL
                    </p>
                    <p class="b">
                        CREDITO PROCEDENTE:___________SI [ ]  &nbsp;&nbsp;NO [ ]<br>
                        NOMBRE Y FIRMA OPERACIONES/COMITE
                    </p>
                </td>
            </tr>

        </table>

</body>
</html>


